body{
    background-color: saddlebrown;
    margin: 0%;
}

#container{
    color: white;
}

#circleElementId{
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

#navBar{
    background-color: black;
    color: chocolate;
}

#secondDroplist{
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-indent: 50px;
    list-style-type: none;
}

#topNav{
   background-color: black;
}

#dropList{
    margin: 0%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-indent: 20px;
    flex-wrap: nowrap;
    color: white;
    list-style-type: none;
}
a{
    color: yellow;
    text-decoration: none;
}

#myCanvas{
    width: 300px;
    height: 150px;
    border: 1px black;
}

#dropMenu{
    width: 100px;
    height: 200px;
    background-color: white;
    border: 1px black;
}

#box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: dashed;
    border-color: black;
    margin-top: 50px;
    margin-left: 500px;
    width: 170px; 
    height: 150px; 
    margin: 125px auto;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}
#tile1{
    max-height: 50px;
    min-width: 50px;
    background-color: white;
    border-style:double ;
    border-color: black;
}
#tile2{
    max-height: 50px;
    min-width: 50px;
    background-color: white;
    border-style:double ;
    border-color: black;
}
#tile3{
    max-height: 50px;
    min-width: 50px;
    background-color: white;
    border-style:double ;
    border-color: black;
}
#tile4{
    max-height: 50px;
    min-width: 50px;
    background-color: white;
    border-style:double ;
    border-color: black;
}
#tile5{
    max-height: 50px;
    min-width: 50px;
    background-color: white;
    border-style:double ;
    border-color: black;
}
#tile6{
    max-height: 50px;
    min-width: 50px;
    background-color: white;
    border-style:double ;
    border-color: black;
}
#tile7{
    max-height: 50px;
    min-width: 50px;
    background-color: white;
    border-style:double ;
    border-color: black;
}
#tile8{
    max-height: 50px;
    min-width: 50px;
    background-color: white;
    border-style:double ;
    border-color: black;
}
#tile9{
    max-height: 50px;
    min-width: 50px;
    background-color: white;
    border-style:double ;
    border-color: black;
}

#crossBar{
    position: absolute;
    max-height: 5px;
    width: 253px;
    background-color: black;
    border-style:double ;
    border-color: black;
    z-index: 0;
}

#gameHeading{
    margin-left: 400px;
}