body{
    background-color: saddlebrown;
    margin: 0%;
}

#container{
    color: white;
}

#circleElementId{
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

#navBar{
    background-color: black;
    color: chocolate;
}

#secondDroplist{
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-indent: 50px;
    list-style-type: none;
}

#topNav{
   background-color: black;
}

#dropList{
    margin: 0%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-indent: 20px;
    flex-wrap: nowrap;
    color: white;
    list-style-type: none;
}
a{
    color: yellow;
    text-decoration: none;
}

#myCanvas{
    width: 300px;
    height: 150px;
    border: 1px black;
}

#dropMenu{
    width: 100px;
    height: 200px;
    background-color: white;
    border: 1px black;
}

#box{
    display: flex;
    justify-content: center;
    border-style: dashed;
    border-color: black;
    width: 1000px;
    height: 500px;
}
#tile1{
    height: 50px;
    width: 50px;
    background-color: white;
    border-style: dotted;
    border-color: aqua;
}
#tile2{
    height: 50px;
    width: 50px;
    background-color: white;
    border-style: dotted;
    border-color: aqua;
}
#tile3{
    height: 50px;
    width: 50px;
    background-color: white;
    border-style: dotted;
    border-color: aqua;
}
#tile4{
    height: 50px;
    width: 50px;
    background-color: white;
    border-style: dotted;
    border-color: aqua;
}
#tile5{
    height: 50px;
    width: 50px;
    background-color: white;
    border-style: dotted;
    border-color: aqua;
}
#tile6{
    height: 50px;
    width: 50px;
    background-color: white;
    border-style: dotted;
    border-color: aqua;
}
#tile7{
    height: 50px;
    width: 50px;
    background-color: white;
    border-style: dotted;
    border-color: aqua;
}
#tile8{
    height: 50px;
    width: 50px;
    background-color: white;
    border-style: dotted;
    border-color: aqua;
}
#tile9{
    height: 50px;
    width: 50px;
    background-color: white;
    border-style: dotted;
    border-color: aqua;
}