body{
    background-color: aqua;
    margin: 0%;
}

#container{
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#taskbar{
    background-color:blanchedalmond;
    padding: 10px;
}
a{
    text-decoration: none;
}